<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
      </httpRequestBegin>
      <initialize>
        <processor type="Sitecore.RestApi.Pipelines.RegisterWebApiRoute, Sitecore.RestApi"/>
      </initialize>
    </pipelines>
    <settings>
      <setting name="RestfulSearch.ItemQueriesRootId" value="{C4E977D0-F1C3-40D7-A7A5-2B607780419E}"/>
      <setting name="Restful.ItemProfilesRootId" value="{46AEE68D-B702-487A-9142-54130963A5D6}"/>
    </settings>
  </sitecore>
</configuration>